{% extends "layout.html" %}
{% block sidebar %}
<div class="menu_wrapper">
    <div class="menu_title_wrapper">
        <p class="text_title">SIDEBAR</p>
    </div>
    <div class="menu_list_wrapper">
        <ul class="menu_list">
            <li>
                <a href="">Sidebar item 1</a>
            </li>
            <li>
                <a href="">Sidebar item 2</a>
            </li>
            <li>
                <a href="">Sidebar item 3</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
