{% extends "layout.html" %}
{% block top %}
<!DOCTYPE html>
<html>

<head>
    <title>{{page_title}}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../project/content/styles/layout.css"/>
</head>

<body>
    <header>
        <div class="site_logo">
            <img src="../project/content/images/site_logo.png" alt="image">
        </div>
        <div class="site_title">
            <p>{{site_title}}</p>
        </div>
    </header>
    <main>
{% endblock %}
